<!DOCTYPE html>


/*Patrones globales*/

h1, h2, h3, h4, h5, a, p, button, form, input, select, textarea, option, table,tr, th, td, span, div, strong, em { font-family: 'Roboto Condensed', sans-serif; }

h6 { font-family: 'Permanent Marker', cursive; }

header, main, footer, aside, section, article, figure, nav, figcaption, div { display: block }

body { margin: 0 !important; background: #F4F7EE;}



/*Estilo de CSS (INVENTARIO) */


/*ASIDE*/
aside#menu-movil { width: 290px; display: none; height: 100%; margin: 0; float: none; position: fixed; top: 0; right: -290px; z-index: 99999; background: rgb(137 182 87 / 92%);}
aside#menu-movil #abrir { width: 40px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 25px; left: -40px; z-index: 99996; background: #89b657; color: #fff; text-align: center; font-size: 1.3em; padding: 8px 0; transition: all 0.3s ease-in; border-radius: 5px 0 0 5px;  }
aside#menu-movil #abrir:hover { background: #222222; transition: all 0.3s ease-in;}
aside#menu-movil #cerrar {width: 40px; height: auto; display: none; margin: 0; float: none; position: absolute; top: 25px; left: -40px; z-index: 99996; background: #89B657; color: #fff; text-align: center; font-size: 1.3em; padding: 8px 0; transition: all 0.3s ease-in; border-radius: 5px 0 0 5px;}
aside#menu-movil #cerrar:hover { background: #222222 ; transition: all 0.3s ease-in;}
aside#menu-movil nav { width: 80%; height: auto; display: block; margin: 40px auto 0 auto; float: none; position: relative; }
aside#menu-movil nav a { width: 100%; height: auto; display: block; margin: 0 auto 20px; float: none; position: relative; color: #fff; text-decoration: none; transition: all 0.3s ease-in; text-align: center; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; font-weight: 600; font-size: 0.95em; text-align: center; letter-spacing: 0.02em; }
aside#menu-movil nav a:hover { color: #222222; transition: all 0.3s ease-in;}
aside#menu-movil nav a:last-child { height: auto; background: #fff; transition: all 0.3s ease-in; color: #89b657; padding: 12px 24px 12px 24px; border-radius: 50px; width: 96px; top: 30px; }
aside#menu-movil nav a:last-child:hover { background: #222222; transition: all 0.3s ease-in; color: #fff; }



/*HEADER*/
header { width: 100%; height: 100px; position: fixed; left: 0; z-index: 99997; margin: 0; float: none; top: 0}
header article { height: 90px; width: 1424px; background: #000000; padding: 0 0 0 100px; border-radius: 0 10px 10px 0; float: left; position: relative; top: 10px; margin: 0; }
header article a {  width: auto; height: 60px; margin: 0; float: left; position: relative; padding: 14px 0 }
header article a img { width: auto; height: 60px; margin: 0; float: left; position: relative; }
header article nav { width: 700px; height: 42px; margin: 0; float: right; position: relative; padding: 28px 0; }
header article nav a {  width: 98px; height: auto; margin: 10px 20px 0 0; float: left; position: relative; display: block; text-decoration: none; color: #ebebeb; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; font-weight: 510; font-size: 0.95em; text-align: center; padding: 0 0 6px; border-bottom: solid 2px #fff;}
header article nav a:nth-child(5) { margin: 0 0 0 38px; color: #fff; background: #89B657; padding: 10px 21px 10px 21px; border-radius: 50px; border-bottom: none;}
header article nav a:hover { border-bottom: solid 2px #89B657; transition: all 0.3s ease-in; color: #89B657;}
header article nav a:hover:nth-child(5) { background: #222222; transition: all 0.3s ease-in; color: #fff; padding: 10px 21px 10px 21px; border-bottom: none;}





/* MAIN */
main { width: 100%; height: auto; position: relative; margin: 100px auto 0; float: none; }



/* Section: Happy Hour */
main section#happy-hour { width: 100%; height: 1000px; position: relative; margin: 0; float: none; background: url(../img/fondo.jpeg) no-repeat top center; }
main section#happy-hour div#ancla-happy-hour { width: 100%; height: 1px; position: absolute; margin: 0 auto; float: none; top: -100px; left: 0; }
main section#happy-hour article { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; padding: 73px 0 0 ;}
main section#happy-hour article div#happy-hour-texto { display: block; height: auto; width: 693px; margin: 0 auto; float: none; position: relative;}
main section#happy-hour article div#happy-hour-texto h3 { font-size: 1.7em; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; color: #62912d; text-align: center; padding: ; margin: 0; text-transform: uppercase; }
main section#happy-hour article div#happy-hour-texto h2 { font-size: 4em; text-align: center; margin: 0; font-weight: 900; font-family: 'Roboto Condensed', sans-serif; color: #f0f0f0 ;line-height: 1em; padding: 0 0 47px; }
main section#happy-hour article div#happy-hour-texto h2 span{ color: #89B657; }
main section#happy-hour article div#happy-hour-texto a { width: 115px; height: auto; margin: 0 auto; float: none; text-align: center; text-decoration: none; display: block; font-size: 0.95em; font-family: 'Roboto Condensed', sans-serif; color: #fff; padding: 18px 30px; background: #62912d; border-radius: 50px; text-transform: uppercase; font-weight: 800; letter-spacing: 0.02em;}
main section#happy-hour article div#happy-hour-texto a:hover { transition: all 0.3s ease-in; background: #222222;}
main section#happy-hour article img { width: 700px; height: auto; position: relative; margin: 0 auto; float: none; display: block; z-index: 99997; left: 84px; }




/* Section: Menu*/

main section#menú { width: 100%; height: auto; position: relative; margin: 0; float: none; background: url(../img/fondo-textura.png) no-repeat top center; background-color: #ffff; background-repeat: repeat-y; }

main section#menú div#ancla-menú { width: 100%; height: 1px; position: absolute; margin: 0 auto; float: none; top: -100px; left: 0; }

main section#menú article { width: 1100px; height: 800px; position: relative; margin: 0 auto; float: none; padding: 1px 0 0 0; }

main section#menú article h6 { text-align: center; font-size: 3em; text-transform: uppercase; margin: 25px 0 5px; color: #89B657;  font-family: Permanent Marker ;}
main section#menú article h1 { text-align: center; font-size: 4em; font-family: 'Roboto Condensed', sans-serif; margin: 0 0 90px 0; font-weight: 800; }

main section#menú article div#fila-platos {  width: 100%; height: auto; margin: 0 auto; float: none; position: relative;}

main section#menú article div#fila-platos figure { width: 326px; height: 368px; float: left; position: relative;  overflow: hidden; border-radius: 12px; }

main section#menú article div#fila-platos figure:nth-child(1) { margin: 18px 30px 0 0;}
main section#menú article div#fila-platos figure:nth-child(2) { width: 358px; height: 405px; margin: 0 30px 0 0;}
main section#menú article div#fila-platos figure:nth-child(3) { margin: 18px 30px 0 0;}

main section#menú article div#fila-platos figure img { width: 100%; height: auto; position: absolute; top: 0; left: 0; z-index: 1; display: block; }

main section#menú article div#fila-platos figure h4 { width: 80%; height: auto; margin: 0; float: none; position: absolute; bottom: 55%; left: 10%; z-index: 2; display: block; background: rgb(255 255 255 / 80%); color: #62912d; text-align: center; border-radius: 5px; font-size: 1.8em; font-family: 'Roboto Condensed', sans-serif; padding: 10px 0; transition: all 0.3s ease-in; }

main section#menú article div#fila-platos figure h4:hover { transition: all 0.3s ease-in; background: rgb(10 10 10 / 80%); color: #fff; }



/* Section: OFERTAS! */
main section#ofertas { width: 100%; height: auto; position: relative; margin: 0; float: none; background: url(../img/oferta.jpeg) no-repeat top center; background-position: center; padding: 0px 0 197px 0}
main section#ofertas div#ancla-ofertas { width: 100%; height: 1px; position: absolute; margin: 0 auto; float: none; top: -100px; left: 0; }
main section#ofertas article { width: 1100px; height: 460px; margin: 0 auto; float: none; position: relative;}
main section#ofertas article div#ofertas h5 { float: left; color: rgb(240, 235, 235); font-size: 2.4em; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight: 100; margin: 0; height: 84px; width: auto;}
main section#ofertas article div#ofertas h5 span {color:#f0f0f0; font-weight: 800; font-size: 2.3em; }
main section#ofertas article div#ofertas { width: 401px; height: auto; float: left; position: relative; margin: 0; padding: 106px 0;}
main section#ofertas article div#ofertas h3 { float: left; font-size: 4em; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight: 800; margin: 0; color: #62912d; padding: 0 0 24px;  }
main section#ofertas article div#ofertas a {  margin: 0; color: #fff; background: #62912d; padding: 10px 36px 10px 36px; border-radius: 50px; border-bottom: none; float: left; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; transition: all 0.3s ease-in;}
main section#ofertas article div#ofertas a:hover { background: #222222; transition: all 0.3s ease-in; }



/*FOOTER*/
footer { width: 100%; height: auto; position: relative; margin: 0; float: none; padding: 70px 0 70px; }
footer div#ancla-contáctanos { width: 100%; height: 1px; position: absolute; margin: 0 auto; float: none; top: -100px; left: 0; }


/*Superior Footer*/
footer article { width: 1100px; height: 400px; position: relative; margin: 0 auto; float: none; }
footer article div#superior-footer { width: 502px; height: auto; position: relative; margin: 0 auto; float: none; padding: 100px 0 70px 0;}
footer article div#superior-footer img { width: 120px; height: auto; position: relative; margin: 0 auto; float: none; display: block; }
footer article div#superior-footer p { font-size: 1em; font-weight: 500; text-align: center; color: #808080; font-family: 'Roboto Condensed', sans-serif;}
footer article hr { height: 1px; width: 100%; margin: 0; float: none; position: relative; color: #5a4b15;  }


/*Inferior Footer*/
footer article div#inferior-footer { width: 180px; height: auto; margin: 0 auto; float: none; position: relative;  padding: 30px 0 0;}
footer article div#inferior-footer nav { width: 178px; height: auto; margin: 0; float: none; position: relative;}
footer article div#inferior-footer nav a { width: 37px; height: 37px; float: left; position: relative; color: #fff; border-radius: 50%; text-align: center; margin: 0 7px 0 0; transition: all 0.3s ease-in; }
footer article div#inferior-footer nav a i { text-align: center; font-size: 0.9em; padding: 10px 0 0 0;}
footer article div#inferior-footer nav a:nth-child(1) { background: #2a53c7;}
footer article div#inferior-footer nav a:nth-child(2) { background:#489ef7;}
footer article div#inferior-footer nav a:nth-child(3) { background:#6e371d;}
footer article div#inferior-footer nav a:nth-child(4) { background: #f71c1c;}
footer article div#inferior-footer nav a:hover { background: #222222; color: #fff; transition: all 0.3s ease-in; }



               
/*Zona de Media Queries*/

/*Ajustes para Tablets*/

@media only screen and (max-width: 1199px){
    aside#menu-movil { display: block;}
    header { width: 116%; height: 100px; position: fixed; left: 0; z-index: 99998; margin: 0; float: none; top: 0}
    header article { float: left; top: 10px; margin: 0 auto; display: block; width: 80%; padding: 0 0 0 95px; }
    header article a {  margin: 0 auto; float: none; display: block; padding: 0; }
    header article a img {  margin: 0 auto; float: none; display: block; padding: 14px 0; }
    header article nav { display: none;}

    /*main*/

    /*Section Happy Hour*/
    main section#happy-hour article { width: 100%; height: 900px; float: none; margin: 0 auto;}
    main section#happy-hour article div#happy-hour-texto { display: block; height: auto; width: 80%;}
    main section#happy-hour article img { width: 70%; height: auto; }
    /* Section Our Menu*/
    main section#menú article { width: 80%; height: auto; padding: 100px 0; } 
    main section#menú article h1 { margin: 0 0 70px 0; }
    main section#menú article div#fila-platos {  width: 80%;  height: auto;  margin: 0 auto;  float: none;}
    main section#menú article div#fila-platos figure:nth-child(1) { margin: 0 auto 30px; float: none;}
    main section#menú article div#fila-platos figure:nth-child(2) { margin: 0 auto 30px; float: none;}
    main section#menú article div#fila-platos figure:nth-child(3) { margin: 0 auto 30px; float: none;}

    /*Section Ofertas*/
    main section#ofertas article { width: 80%; }
    main section#ofertas article div#ofertas { width: 396px; height: auto; float: none; position: relative; margin: 0 auto; padding: 57px 0; } 
    main section#ofertas article div#ofertas h5 { float: none; margin: 0 auto; height: 84px; width: auto; text-align: center; padding: 0 0 13px;}
    main section#ofertas article div#ofertas h3 { float: none;  margin: 0 auto; padding: 0 0 32px; text-align: center; line-height: 1em;}
    main section#ofertas article div#ofertas a {  margin: 6px auto 0; padding: 12px 36px 12px 36px; float: none; text-align: center; display: block; height: 22px; width: 100px}


    /*Footer*/
    footer article { width: 80%; height: auto; }
    footer article div#superior-footer { width: 100%; height: auto; }
    footer article div#superior-footer p { line-height: 1.5em; padding: 0 39px ; }
    footer article div#inferior-footer { margin: 0 auto; float: none;}
}
   
@media only screen and (max-width: 599px){ 
  header article { padding: 0 0 0 48px }
  main section#menú article div#fila-platos figure { width: 283px; height: 317px;} 
  main section#menú article div#fila-platos figure:nth-child(2) { width: 309px; height: 348px;}
  main section#ofertas article div#ofertas {  width: ; height: auto;  }

 }

 /*Ajustes para móviles*/

 @media only screen and (max-width: 499px){ 

    header article a { margin: 0; float: left;}

    header article { float: left; top: 10px; margin: 0 auto; display: block; width: 82%; padding: 0 0 0 38px;}
  

  }

@media only screen and (max-width: 399px){  }